.churn__header {
  display: flex;
  flex-direction: column;
}

.churn__header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-bottom: 5rem;
}

.churn__header-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
}

.churn__header-content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--color-text);

  margin-top: 3rem;
}

.churn__header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.churn__header-image img {
  width: 90%;
  height: 90%;
}

@media screen and (max-width: 1050px) {
  .churn__header {
    flex-direction: column;
  }

  .churn__header-content {
    margin: 0 0 3rem;
  }
}

@media screen and (max-width: 650px) {
  .churn__header-content h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .churn__header-content p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 490px) {
  .churn__header-content h1 {
    font-size: 36px;
    line-height: 48px;
  }

  .churn__header-content p {
    font-size: 14px;
    line-height: 24px;
  }
}