.churn__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--color-footer);
}

.churn__footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;
  text-align: left;
}

.churn__footer-links div {
  width: 250px;
  margin: 1rem;
}

.churn__footer-links_logo {
  display: flex;
  flex-direction: column;
}

.churn__footer-links_logo img {
  width: 61px;
  height: 30px;

  margin-bottom: 1rem;
}

.churn__footer-links_logo p {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 15px;
  color: #111111;
}

.churn__footer-links_div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.churn__footer-links_div h4 {
  font-size: 14px;
  line-height: 17px;
  font-family: var(--font-family);
  color: #111111;

  margin-bottom: 0.9rem;
}

.churn__footer-links_div p {
  font-size: 12px;
  line-height: 15px;
  font-family: var(--font-family);
  color: #111111;

  margin: 0.5rem 0;
  cursor: pointer;
}

.churn__footer-copyright {
  margin-top: 2rem;
  text-align: center;
  width: 100%;
}

.churn__footer-copyright p {
  font-size: 12px;
  font-family: var(--font-family);
  line-height: 15px;
  color: #111111;
}

@media screen and (max-width: 550px) {
  .churn__footer-links div {
    margin: 1rem 0;
  }
}