.churn__cta-demo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  padding: 2rem;
  margin: 3rem 4rem;
}

.churn__cta-demo_dialog {
  font-family: var(--font-family);
}

.churn__cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  padding: 2rem;
  margin: 6rem 6rem -3rem 6rem;
  border-radius: 1rem;
  background: var(--gradient-bar)
}

.churn__cta-content {
  display: flex;
  flex-direction: column;

  text-align: left;
  color: #fff;
}

.churn__cta-content p {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  margin-top: 13px;
}

.churn__cta-content h3 {
  font-family: var(--font-family);
  font-size: 30px;
  line-height: 45px;
  font-weight: 800;
}

.churn__cta-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2rem;
}

.churn__cta-btn button {
  background: #2d2e2f;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  padding: 0.5rem 1rem;
  border-radius: 2rem;

  border: none;
  outline: none;
  cursor: pointer;
  min-width: 150px;
}

@media screen and (max-width: 650px) {
  .churn__cta {
    flex-direction: column;
  }

  .churn__cta-btn {
    margin: 2rem 0 0;
  }
}

@media screen and (max-width: 550px) {
  .churn__cta {
    flex-direction: column;
    margin: 4rem 2rem;
  }

  .churn__cta-content h3 {
    font-size: 18px;
    line-height: 32px;
  }

  .churn__cta-btn button {
    font-size: 14px;
    line-height: 28px;
  }
}